html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blob {
  fill: #023f92;
  width: 20vmax;
  z-index: 0;
}
